<div class="header d-flex flex-row align-items-start">
  <h1 class="flex-grow-1">My lists</h1>
  <%= link_to new_list_path, class: "btn btn-primary" do %>
    <i class="fa-solid fa-plus"></i>
    New list
  <% end %>
</div>

<ul class="d-flex flex-column gap-4">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: "card rounded" do %>
      <div class="card-body"><%= list.name %></div>
    <% end %>
  <% end %>
</ul>
