// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

ul {
  padding: 0;
}
h4, h5 {
  margin: 0;
}
a {
  text-decoration: none;
}
.badge {
  height: fit-content !important;
}
